
.home-style {
	display: flex;
	justify-content: space-between;
	margin: 50px 70px;
	// align-items: center;
	height: 80vh;
}

.home-image {
	height: 566px;
}

.home-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 60px;
}

p {
	color: #969696
}

.home-choose-box {
	text-align: center;

	margin-top: 30px;
	margin-bottom: 30px;
}

