<div class="container">
  	<h1>Boxes</h1>
    <div class ="row">
        <% @boxes.each do |box|  %>
	        <div class="col-xs-12 col-md-4">
	          <%= link_to box_path(box), class:'card-link' do %>
	            <div class="card-product">
	                <h2><%= box.title %> </h2>
	              <div class="card-product-infos">
	                <p><%= box.description %></p>
	              </div>
	            </div>
	          <% end %>
	        </div>
	    <% end %>
    </div>
</div>