 <footer class="footer-container">
      <%= image_tag "logo.png", alt: "gorillabox", class: "footer-logo"%>
      <p class="footer-text"> Copyright &copy; gorillabox 2019</p>
    <div class="list-social-icons">
      <div class="social-icon"><i class="fab fa-instagram"></i></div>
      <div class="social-icon"><i class="fab fa-facebook"></i></div>
      <div class="social-icon"><i class="fab fa-twitter"></i></div>
    </div>
  </footer>
