<div class="new-sub-container" style="height: calc(100vh - 200px);">
  <div class="sub-left">
    <%= image_tag "forms_2.png" %>
  </div>
  <div class="form-position" style="height: calc(100vh - 200px);">
    <%= render 'form', subscription: @subscription %>
  </div>
</div>
