<div class="form-header">
<h1>Your Subscription</h1>
</div>
<div class="new-sub-container">
  <div class="sub-left">
    <%= image_tag "b20" %>
  </div>
  <div class="form-position">
    <%= render 'form', subscription: @subscription %>
  </div>
</div>
