<div class="new-sub-container">
  <div class="sub-left">
    <%= image_tag "forms_2.png" %>
  </div>
  <div class="form-position">
    <%= render 'form', subscription: @subscription %>
  </div>
</div>
