<h1>Subscription Confirmation</h1>

<u>Details:</u>
<ul>
  <li>Status: <%= @subscription.state %></li>
  <li>Item: <%= @subscription.box_sku %></li>
  <li>Amount: <%= humanized_money_with_symbol(@subscription.amount) %></li>
<ul>
