

    <h1 style="text-align: center;">Challenges</h1>
    	  <section class="task-list current">
    	    <ul>
    	      <li>
              <!-- First Check -->
    	        <div class="checkbox">
    	          <div class="check">
    	            <input type="checkbox" name="task_00">
    	            <div class="check-container">
    	              <div class="check-off"></div>
    	              <div class="check-on"><i></i></div>
    	
    	            </div>
    	          </div>
    	          <div class="label">
    	            <mark><strong>Pushups</strong> 👉 30 x 4</mark>
    	        </div>
    	      </li>
    	      <li>
    	        <div class="checkbox">
    	          <div class="check">
    	            <input type="checkbox" name="task_00">
    	            <div class="check-container">
    	              <div class="check-off"></div>
    	              <div class="check-on"><i></i></div>

    	            </div>
    	          </div>
    	          <div class="label">
                    <mark><strong>Situps</strong> 👉 20 x 4</mark>
                </div>
    	          </div>
    	        </div>
    	      </li>
    	      <li>
    	        <div class="checkbox">
    	          <div class="check">
    	            <input type="checkbox" name="task_01">
    	            <div class="check-container">
    	              <div class="check-off"></div>
    	              <div class="check-on"><i></i></div>

    	            </div>
    	          </div>
    	          <div class="label">
                    <mark><strong>Burpees</strong> 👉 10 x 4</mark>
    	          </div>
    	        </div>
    	      </li>
    	      <li>
    	        <div class="checkbox">
    	          <div class="check">
    	            <input type="checkbox" name="task_02">
    	            <div class="check-container">
    	              <div class="check-off"></div>
    	              <div class="check-on"><i></i></div>

    	            </div>
    	          </div>
    	          <div class="label">
    	            <mark><strong>Jumping Jacks</strong> 👉 20 x 4</mark>
    	          </div>
    	        </div>
    	      </li>
    	    </ul>
    	  </section>

        <div>
              <div
              id="map"
              style="width: 100%;
              height: 600px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
        </div>
