<div class="challenges-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1431578409060-9aad91ba5f79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Complete your challenges, earn rewards</h1>
    <a class="btn btn-purple" href="#">Claim reward</a>
  </div>
</div>

<div class="container">
  <div class="challenges-float">
    <div class="card-flex-inline" style="display: flex; justify-content: space-around;">
       <div class="hexagons">
          <div class="hexagon-holder flip-container">
            <div class="flipper">
              <div class="front">
                <div class="hexagon">
                  <i class="fas fa-running"></i>
                  <h3>Jogging</h3>
                  <div class="hexTop"></div>
                  <div class="hexBottom" style=""></div>
                </div>
              </div>
              <div class="back">
                <div class="hexagon-overlay">
                  <div class="hexTop"></div>
                  <div class="hexBottom"></div>
                </div>
                <div class="hexText">
                  <p>Run for 20 minutes outdoors. No breaks, deep breaths 🏃🏻‍♂️</p></div>
                <div class="hexagon" style="transform:scaleX(-1);">
                  <div class="hexTop"></div>
                  <div class="hexBottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

       <div class="hexagons">
          <div class="hexagon-holder flip-container" style="margin-left: 68px">
            <div class="flipper">
              <div class="front">
                <div class="hexagon">
                  <i class="far fa-hand-rock"></i>
                  <h3>Pull ups</h3>
                  <div class="hexTop"></div>
                  <div class="hexBottom" style=""></div>
                </div>
              </div>
              <div class="back">
                <div class="hexagon-overlay">
                  <div class="hexTop"></div>
                  <div class="hexBottom"></div>
                </div>
                <div class="hexText">
                  <p> 20 x 4 pullups, 4x a week. Back and core strength is key! 💪</p>
                </div>
                <div class="hexagon" style="transform:scaleX(-1);">
                  <div class="hexTop"></div>
                  <div class="hexBottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
       <div class="hexagons">
          <div class="hexagon-holder flip-container" style="margin-left: 129px">
            <div class="flipper">
              <div class="front">
                <div class="hexagon">
                  <i class="fas fa-hiking"></i>
                  <h3>Walk</h3>
                  <div class="hexTop"></div>
                  <div class="hexBottom" style=""></div>
                </div>
              </div>
              <div class="back">
                <div class="hexagon-overlay">
                  <div class="hexTop"></div>
                  <div class="hexBottom"></div>
                </div>
                <div class="hexText">
                  <p>2km walk, 3x a week. Keep the body movin' n' groovin' 🕺🏻</p></div>
                <div class="hexagon" style="transform:scaleX(-1);">
                  <div class="hexTop"></div>
                  <div class="hexBottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>




  <div class="card-flex-2" style="display: flex; justify-content: space-around; padding: 24px; margin:12px;">
      <div id="f1_container">
        <div class="card-flex-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1536922246289-88c42f957773?ixlib=rb-1.2.1&auto=format&fit=crop&w=1980&q=80); margin: 16px;">
          <div class="card-content-text">
            <p class="card-text-1" style="color:white;"><i class="fab fa-youtube" style="color:white;"></i> 10min, 174kcal </p>
            <p class="card-text-2" style="text-align: center; color:white;">Warm up</p>
          </div>
        </div>
      </div>


        <div id="f1_container">
           <div class="card-flex-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.giphy.com/media/l2QZZ2cyb6BzwSKpa/giphy.gif); margin: 16px;">
            <div class="card-content-text">
              <p class="card-text-1" style="color:white;"><i class="fab fa-youtube" style="color:white;"></i> 9min, 144kcal </p>
              <p class="card-text-2" style="text-align: center; color:white;">Cycle session</p>
            </div>
          </div>
        </div>

        <div id="f1_container">
          <div class="card-flex-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1518644961665-ed172691aaa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); margin: 16px;">
            <div class="card-content-text">
              <p class="card-text-1" style="color:white;"><i class="fab fa-youtube"></i> 6min, 74kcal </p>
              <p class="card-text-2" style="text-align: center; color:white;">Cool down</p>
          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</div>
