.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #2F2F2F;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 180px;
  margin-top: 2px;
}

.card-trip .card-trip-infos h2 {
  margin-bottom: 8px;
}

.card-product {
  padding-left: 5px;
  // overflow: hidden;
  min-height: 140px;
  width: 400px;
  background: white;
  margin: 30px 8px;
}

.col-lg-4 img {
  // height: 88%;
  // width: 140px;
  // object-fit: cover;
}

.col-lg-4 .img-fluid {
  max-height: 200px;
  // height: 88%;
  // width: 140px;
  // object-fit: cover;

}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #AA96DA;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.product-card-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}
.centering {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  // flex-direction: column;
}

.color-purple {
  color: #A996DA;
}

.bg-video {
  height: 400px;

}

a.col-lg-4 {
  text-decoration: none;
  // padding: 30px; 
}
