.boxes {
  display:flex;
  margin-bottom: 20px;
}

.landing-page-banner {
	@media (min-width: 768px){
		height: calc(90vh);
	} 
	
}

.landing-page-how {
	@media (min-width: 768px){
		height: calc(86vh);
	}
}

.landing-page-middle {
    @media (min-width: 768px){
		height: calc(100vh);
	}
}
.landing-page-footer {
    @media (min-width: 768px){
		height: calc(86vh);
	}
}

.container-dashboard {
  margin: 50px 30px;
  display: flex;
}
