.boxes {
  display:flex;
  margin-bottom: 20px;
}

.landing-page-banner {
	height: calc(90vh);
  margin-top: 40px;
}

.landing-page-how {
	height: calc(86vh);
}

.landing-page-middle {
    height: calc(100vh);
}

.landing-page-footer {
    height: calc(86vh);
}
