.boxes {
  display:flex;
  margin-bottom: 20px;
}

.landing-page-banner {
	height: calc(86vh);
}

.landing-page-how {
	height: calc(86vh);
    padding-top: 10vh;
}

.landing-page-middle {
    height: calc(100vh);
    padding-top: 20vh;
}

.landing-page-footer {
    height: calc(109vh);
    padding-top: 30vh;
}
