.navbar-default {
  justify-content: space-between;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.navbar-default .navbar-collapse {
  flex-grow: 0;
}

.navbar-default .navbar-brand img {
  width: 40px;
}

.nav-item a:hover{
  text-decoration:underline;
}

