.navigation-container {
  justify-content: space-between;
  background-color: transparent;
  border: none;
  margin: 25px;
  z-index: 100;
  transition: background-color 1s ease 0s;
  height: 70px;
  display: flex;
}

.nav-logo {
  width: 80px;
  img {
    height: 40px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  color: #aebf83;
}

.nav-link {
  color: #aebf83;
    &:hover {
      color: #AA96DA;
    }
}
