// /* The grid: Four equal columns that floats next to each other */
// // .column {
// //   float: left;
// //   width: 25%;
// //   padding: 5px;
// // }

// /* Style the images inside the grid */
// // .column img {
// //   opacity: 0.8;
// //   cursor: pointer;
// //   border-radius: 6px;
// // }
// .gallery-wrapper{
//   width: 70%;
// }
// .main_image {
//   height: 100%;
//   object-fit: cover;
//   border-radius: 5px;
// }

// .thumbnail-wrapper{
//   display: flex;
//   margin-top: 10px;
//   width: 100%;

// }

// .thumbnail-image{
//   height: 150px;
//   width: 153px;
//   object-fit: cover;
//   padding-top: 40px;
//   padding-right: 11px;
//   &:hover {
//     opacity: 0.6;
//   }
// }


// /* Clear floats after the columns */
// .row-1:after {
//   content: "";
//   display: table;
//   clear: both;
// }

// /* The expanding image container (positioning is needed to position the close button and the text) */

// .expanding-container {
//   position: relative;
//   // display: none;
// }


// #expandedImg {
//   border-radius: 6px;
//   display:flex;
//   margin: auto;
// }

// .row-1 {
//   margin-bottom: 24px;
//   margin-top: 12px;
//   display: flex;
// }

// .show-right {
//   margin-left: 30px;
// }

// .column {
//   float: left;
//   width: 25%;
//   padding: 10px;
// }

// .closebtn {
//   position: absolute;
//   top: 10px;
//   right: 15px;
//   color: white;
//   font-size: 35px;
//   cursor: pointer;
// }

/* The grid: Four equal columns that floats next to each other */
// // .column {
// //   float: left;
// //   width: 25%;
// //   padding: 5px;
// // }

// /* Style the images inside the grid */
// // .column img {
// //   opacity: 0.8;
// //   cursor: pointer;
// //   border-radius: 6px;
// // }
// .gallery-wrapper{
//   width: 70%;
// }
// .main_image {
//   height: 100%;
//   object-fit: cover;
//   border-radius: 5px;
// }

// .thumbnail-wrapper{
//   display: flex;
//   margin-top: 10px;
//   width: 100%;

// }

.thumbnail-image{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  &:hover {
    opacity: 0.7;
  }
}



#expandedImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 6px;
  display:flex;
  margin: auto;
}


.show-right {
  margin: 0px 30px;
  width: 60%
}

.show-left {
  width: 60%
}


/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row-1:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.expanding-container {
  position: relative;
  object-fit: cover;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.product-info {
  display:flex;
  padding-top: 20px;
}
