.subscription-flex {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
    /*border: 1px solid black;*/
    border-style: hidden;
    box-shadow: 2px 2px 2px 2px rgba(68,68,68, 0.1);
    border-radius: 4px;
  }

  .subscription-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;


  }
  .list-style-box {
    list-style: none;
    margin-top: 1px;
    width: 320px;
    padding: 2px;
  }

.subscription-flex-title {
  margin-top: 12px;
}
.subscription-flex-content {
  display: flex;
  justify-content: center;
  margin-right:34px;

}
a {
  color:#969696;
}

a:hover {
  text-decoration: none;
  color: #AA96DA;
}
