<h1>Reviews</h1>
<p>We would love to have some feedback!</p>
<%= simple_form_for [@box, @review] do |f| %>
 <%= f.input :description %>
 <%= f.input :stars %>
 <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>